<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="">
    <meta name="keywords" content="coco bootstrap template, coco admin, bootstrap,admin template, bootstrap admin,">
    <meta name="author" content="Huban Creative">
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/assets/libs/cssTema")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Styles.Render("~/assets/libs/cssTema")
</head>


    @if (@ViewBag.Title == "Login")
    {
        @RenderBody()
    }
    else
    { 
        <header>
        </header>
            @RenderBody()    
        <footer>
        </footer>
    }






@* @Scripts.Render("~/assets/libs/scriptTema")*@



@* </body>*@
</html>
