@model Cmv.Entidades.Cajas

@using Cmv.Entidades;

@{
    Usuario SesionUsuario = Session["SesionUsuario"] as Usuario;
    if (SesionUsuario == null && ViewBag.Title != "Login")
    {
        Response.Redirect("/Sesion/Login");
    }
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="~/assets/img/iconoCMV.ico" rel="shortcut icon" type="image/x-icon" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/assets/libs/cssTema")
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/assets/libs/Scriptprincipales");
    @if (IsSectionDefined("ScriptPorPaginaHeader"))
    {
        @RenderSection("ScriptPorPaginaHeader", required: false)
    }
</head>


@if (@ViewBag.Title == "Login")
{
    @RenderBody()
}
else
{ 
       
    <body class="fixed-left">
        <div id="wrapper">
            <div class="topbar">
                <div class="topbar-left">
                    <div class="logo">
                        <h1><a href="#">
                            <img src="~/assets/img/logoCMV.png" alt="Logo"></a></h1>
                    </div>
                </div>
            </div>


            <!-- Top Bar End -->
            <!-- Left Sidebar Start -->
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <!-- Search form -->
                    <br>
                    <div class="clearfix"></div>
                    <!--- Profile -->
                    <div class="profile-info">
                        <div class="col-xs-4">
                            <a href="#" class="rounded-image profile-image">
                                <img src="~/assets/img/users/Vic.jpg"></a>
                        </div>
                        <div class="col-xs-8">
                            <h6>@SesionUsuario.nombre @SesionUsuario.apellidoPaterno </h6>
                            <div class="profile-buttons">
                                <a href="#" title="Cerrar Sesion"><i class="fa fa-power-off text-red-1"></i></a>
                            </div>
                        </div>
                    </div>

                    <!--- Divider -->
                    <div class="clearfix"></div>
                    <hr class="divider" />
                    <div class="clearfix"></div>

                    <div id="sidebar-menu">
                        <ul>
                            <li class='has_sub'><a href='javascript:void(0);'>
                                <i class='icon-home-3'></i><span>Aplicaciones</span> <span class="pull-right">
                                    <i class="fa fa-angle-down"></i></span></a>
                                <ul>
                                    <li><a href='/Cajeros/Cajeros' class='active'><span>Disponibilidad Cajeros</span></a></li>
                                    <li><a href='#'><span>Aplicacion 2</span></a></li>
                                </ul>
                            </li>


                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="clearfix"></div>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="content-page">

                <div class="content">

                    @*  @Scripts.Render("~/bundles/jqueryAjax");*@
                    @RenderBody()

                    <!-- Footer Start -->
                    <footer>
                        Disponibilidad en Cajeros &copy; 2016
                <div class="footer-links pull-right">
                    <a href="#">help.desk@cmv.mx</a><a href="#">Tel: 31004</a>
                </div>
                    </footer>
                    <!-- Footer End -->
                </div>


            </div>

            <div class="md-overlay"></div>

            <script>
                var resizefunc = [];
            </script>

            @if (IsSectionDefined("ScriptPorPaginafooter"))
            {
                @RenderSection("ScriptPorPaginafooter", required: false)
            }
            @Scripts.Render("~/assets/libs/ScriptMenu");

                 <div id="loadingCmv" class="loadCmv" style="display:none">
                     <div class="loaderCmv">
                         <div class="inner one"></div>
                         <div class="inner two"></div>
                         <div class="inner three"></div>
                         <div class="loader-leyenda">
                             <p>Cargando</p>
                             <div class="tableLoad">
                                 <div class="cellLoad">
                                     <div class="gmb-loader">
                                         <div></div>
                                         <div></div>
                                         <div></div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>

        </div>
    </body>    
}

</html>
