@{
    ViewBag.Title = "Inicio";
}


@model Cmv.Entidades.Usuario

@using Cmv.Entidades;

@{
    Usuario SesionUsuario = Session["SesionUsuario"] as Usuario;
    if (SesionUsuario == null && ViewBag.Title != "Login")
    {
        Response.Redirect("/Sesion/Login");
    }
}


<head>

</head>
<body class="fixed-left">
    


    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">
            <div class="topbar-left">
                <div class="logo">
                    <h1><a href="#">
                        <img src="~/assets/img/logoCMV.png" alt="Logo"></a></h1>
                </div>
                @*<button class="button-menu-mobile open-left">
                    <i class="fa fa-bars"></i>
                </button>*@
            </div>
        </div>


        <!-- Top Bar End -->
        <!-- Left Sidebar Start -->
        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">
                <!-- Search form -->
                <br>
                <div class="clearfix"></div>
                <!--- Profile -->
                <div class="profile-info">
                    <div class="col-xs-4">
                        <a href="#" class="rounded-image profile-image">
                            <img src="~/assets/img/users/Vic.jpg"></a>
                    </div>
                    <div class="col-xs-8">
@*                        <div class="profile-text">@SesionUsuario.nombre @SesionUsuario.apellidoPaterno </div>*@
                        <h6>@SesionUsuario.nombre @SesionUsuario.apellidoPaterno </h6>
                        <div class="profile-buttons">
@*                            <a href="javascript:;"><i class="fa fa-envelope-o pulse"></i></a>
                            <a href="#connect" class="open-right"><i class="fa fa-comments"></i></a>*@
                            <a href="javascript:;" title="Cerrar Sesion"><i class="fa fa-power-off text-red-1"></i></a>
                        </div>
                    </div>
                </div>

                <!--- Divider -->
                <div class="clearfix"></div>
                <hr class="divider" />
                <div class="clearfix"></div>
                
                <div id="sidebar-menu">
                    <ul>
                        <li class='has_sub'><a href='javascript:void(0);'>
                            <i class='icon-home-3'></i><span>Aplicaciones</span> <span class="pull-right">
                            <i class="fa fa-angle-down"></i></span></a>
                            <ul>
                                <li><a href='/Home/Index' class='active'><span>Disponibilidad Cajeros</span></a></li>
                                <li><a href='#'><span>Aplicacion 2</span></a></li>
                            </ul>
                        </li>

                        
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
              
                <div class="clearfix"></div>
                <br>
                <br>
                <br>
            </div>

           
        </div>   <!-- Left Sidebar End -->

        <!-- Start right content -->
        <div class="content-page">
            <!-- ============================================================== -->
            <!-- Start Content here -->
            <!-- ============================================================== -->
            <div class="content">
                <!-- Start info box -->
                <div class="row top-summary">
                    <div class="widget green-2">
							<div class="widget-header">
								<h2><strong></strong> </h2>
								<div class="additional-btn">
									@*<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
									<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
									<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>*@
								</div>
							</div>
                        <br>
                        <br>
							<div class="widget-content padding">
                                <div align="center"><a href="#" ><img src="~/assets/img/logoWhiteCMV.png"  /></a></div>
							</div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
						</div>
                </div>
                <!-- End of info box -->

      
                

                <!-- Footer End -->
            </div>
            <!-- ============================================================== -->
            <!-- End content here -->
            <!-- ============================================================== -->

        </div>
        <!-- End right content -->

    </div>






    <!-- End of page -->

    <!-- the overlay modal element -->
    <div class="md-overlay"></div>
    <!-- End of eoverlay modal -->

    <script>
        var resizefunc = [];
    </script>

    @Scripts.Render("~/assets/libs/scriptTema")
    @Scripts.Render("~/bundles/jqueryval")
    
    @*    <script src="assets/libs/jquery/jquery-1-11-1-min.js"></script>
    <script src="assets/libs/bootstrap/js/bootstrap-min.js"></script>
    <script src="assets/libs/jqueryui/jquery-ui-1-10-4-custom-min.js"></script>
    <script src="assets/libs/nifty-modal/js/classie.js"></script>
    <script src="assets/libs/nifty-modal/js/modalEffects.js"></script>
    <script src="assets/libs/raphael/raphael-min.js"></script>
    <script src="assets/libs/morrischart/morris-min.js"></script>*@
    <script src="assets/libs/jquery-datatables/js/jquery.dataTables.min.js"></script>
    <script src="assets/libs/jquery-datatables/js/dataTables.bootstrap.js"></script>
    <script src="assets/libs/jquery-datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
   
    <script>



        function OnBegin() {
            $( "#btnCerrarDialog" ).trigger( "click" );
        }
        function OnSuccess(data) {
            alert(data);
        }
        function OnFailure(request, error) {
            alert("Error");

        }
        function OnComplete(request, status) {
            alert("Completo")
            if(data)
                $("#md-3d-slit").modal('close');
            else
                alert(data);
        } 



        $("#datatables-Excedidas").dataTable();
        $("#datatables-Proximas").dataTable();
        $("#datatables-Correctas").dataTable();

        function Abrir(fila)
        {
           // alert(fila);
            switch (fila) {
                case 0:
                    break;
                case 1:
                    $( "#downCajas" ).slideDown( "slow" , function() {
                        alert ('Efecto slideDown con velocidad slow terminado!');
                    });
                   /* $("#msjAlert").html("<span>Estas seguro que deseas mandar correo a las sucursales  que estan por llegar al efectivo maximo permitido</span>");
                    $( "#btnAbrirDialog" ).trigger( "click" );*/
                    break;
                case 2:
                    $( "#downCajas" ).slideDown( "slow" );
                    /*$("#msjAlert").html("<span>Estas seguro que deseas mandar correo a las sucursales  que han excedido el efectivo maximo permitido</span>");
                    $( "#btnAbrirDialog" ).trigger( "click" );*/
                    break;
                default:
            }
        }
    </script>
     <script src="~/Scripts/jsApp/indexApp.js"></script>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
@*	<script src="assets/libs/jquery/jquery-1.11.1.min.js"></script>
	<script src="assets/libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/libs/jqueryui/jquery-ui-1.10.4.custom.min.js"></script>
	<script src="assets/libs/jquery-ui-touch/jquery.ui.touch-punch.min.js"></script>
	<script src="assets/libs/jquery-detectmobile/detect.js"></script>
	<script src="assets/libs/jquery-animate-numbers/jquery.animateNumbers.js"></script>
	<script src="assets/libs/ios7-switch/ios7.switch.js"></script>
	<script src="assets/libs/fastclick/fastclick.js"></script>
	<script src="assets/libs/jquery-blockui/jquery.blockUI.js"></script>
	<script src="assets/libs/bootstrap-bootbox/bootbox.min.js"></script>
	<script src="assets/libs/jquery-slimscroll/jquery.slimscroll.js"></script>
	<script src="assets/libs/jquery-sparkline/jquery-sparkline.js"></script>
	<script src="assets/libs/nifty-modal/js/classie.js"></script>
	<script src="assets/libs/nifty-modal/js/modalEffects.js"></script>
	<script src="assets/libs/sortable/sortable.min.js"></script>
	<script src="assets/libs/bootstrap-fileinput/bootstrap.file-input.js"></script>
	<script src="assets/libs/bootstrap-select/bootstrap-select.min.js"></script>
	<script src="assets/libs/bootstrap-select2/select2.min.js"></script>
	<script src="assets/libs/magnific-popup/jquery.magnific-popup.min.js"></script> 
	<script src="assets/libs/pace/pace.min.js"></script>
	<script src="assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="assets/libs/jquery-icheck/icheck.min.js"></script>

	<!-- Demo Specific JS Libraries -->
	<script src="assets/libs/prettify/prettify.js"></script>

	<script src="assets/js/init.js"></script>
	<!-- Page Specific JS Libraries -->
	<script src="assets/libs/d3/d3.v3.js"></script>
	<script src="assets/libs/rickshaw/rickshaw.min.js"></script>
	<script src="assets/libs/raphael/raphael-min.js"></script>
	<script src="assets/libs/morrischart/morris.min.js"></script>
	<script src="assets/libs/jquery-knob/jquery.knob.js"></script>
	<script src="assets/libs/jquery-jvectormap/js/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="assets/libs/jquery-jvectormap/js/jquery-jvectormap-us-aea-en.js"></script>
	<script src="assets/libs/jquery-clock/clock.js"></script>
	<script src="assets/libs/jquery-easypiechart/jquery.easypiechart.min.js"></script>
	<script src="assets/libs/jquery-weather/jquery.simpleWeather-2.6.min.js"></script>
	<script src="assets/libs/bootstrap-xeditable/js/bootstrap-editable.min.js"></script>
	<script src="assets/libs/bootstrap-calendar/js/bic_calendar.min.js"></script>
	<script src="assets/js/apps/calculator.js"></script>
	<script src="assets/js/apps/todo.js"></script>
	<script src="assets/js/apps/notes.js"></script>
	<script src="assets/js/pages/index.js"></script>*@

